<title> Troubleshoot Point</title>

<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<title>Hello, Boxicons!</title>

<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxs-shield-minus'></i>
        <span class="logo_name">
            Troubleshoot Point
        </span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="">
                <i class='bx bxs-grid'></i>
                <span class="link_name">
                    Dashboard
                </span>
            </a>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">
                        Category
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Category</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">C++</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">HTML & CSS</a></li>
                <li><a href="#">Java Script</a></li>
                <li><a href="#">Angular</a></li>
                <li><a href="#">React</a></li>
                <li><a href="#">MySQL</a></li>
                
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-java'></i>
                    <span class="link_name">
                        java
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Java</a></li>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Web Application</a></li>
                <li><a href="#">Console Application</a></li>
                <li><a href="#">Mobile Application</a></li>
                <li><a href="#">PC Application</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-c-plus-plus'></i>
                    <span class="link_name">
                        C++
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">C++</a></li>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Web Application</a></li>
                <li><a href="#">Console Application</a></li>
                <li><a href="#">Mobile Application</a></li>
                <li><a href="#">PC Application</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-python'></i>
                    <span class="link_name">
                        Python
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Python</a></li>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Web Application</a></li>
                <li><a href="#">Console Application</a></li>
                <li><a href="#">Mobile Application</a></li>
                <li><a href="#">PC Application</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-angular'></i>
                    <span class="link_name">
                        Angular
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Angular</a></li>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Web Application</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-docker'></i>
                    <span class="link_name">
                        Docker
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Docker</a></li>
                <li><a href="#">Introduction</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxl-html5'></i>
                    <span class="link_name">
                        HTML & CSS
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">HTML & CSS</a></li>
                <li><a href="#">Introduction</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxs-data'></i>
                    <span class="link_name">
                        MySQL
                    </span>
                </a>
                <i class='bx bx-down-arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">MySQL</a></li>
                <li><a href="#">Introduction</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a href="">
                    <i class='bx bxs-devices'></i>
                    <span class="link_name">
                        Contact
                    </span>
                </a>
            </div>
        </li>
    </ul>
</div>
